<header>
  <!-- <app-user-search></app-user-search> -->
  <span class="users">
    <a *ngFor="let user of users" [class.active]="user===curUser" (click)="onUserSelected(user)">{{user.name}}</a>
  </span>
  <section *ngIf="curUser">
    <h2>Adquirencia</h2>
    <div>
      <a [class.active]="screen=='/adquirencia/cancelamento'" (click)="onProductSelected({title:'Cancelamento Adquirência', to:'/adquirencia/cancelamento'})">Cancelamento</a>
      <a [class.active]="screen=='/adquirencia'" (click)="onProductSelected({title:'Adquirência', to:'/adquirencia'})">Formalização</a>
    </div>
  </section>
  <section *ngIf="curUser">
    <h2>Cartões</h2>
    <div>
      <a [class.active]="screen=='/cartoes/cancelamento'" (click)="onProductSelected({title:'Cancelamento Cartões', to:'/cartoes/cancelamento'})">Cancelamento</a>
      <a [class.active]="screen=='/cartoes'" (click)="onProductSelected({title:'Cartões', to:'/cartoes'})">Formalização</a>
    </div>
  </section>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
  <app-status></app-status>
</footer>