<header>
  <section>
    <h1>Adquirencia</h1>
    <div>
      <a [class.active]="screen=='/adquirencia/cancelamento'" (click)="onClick({title:'Cancelamento Adquirência', to:'/adquirencia/cancelamento'})">Cancelamento</a>
      <a [class.active]="screen=='/adquirencia'" (click)="onClick({title:'Adquirência', to:'/adquirencia'})">Formalização</a>
    </div>
  </section>
  <section>
      <h1>Cartões</h1>
      <div>
        <a [class.active]="screen=='/cartoes/cancelamento'" (click)="onClick({title:'Cancelamento Cartões', to:'/cartoes/cancelamento'})">Cancelamento</a>
        <a [class.active]="screen=='/cartoes'" (click)="onClick({title:'Cartões', to:'/cartoes'})">Formalização</a>
      </div>
    </section>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
  <app-status></app-status>
</footer>